/* Bulma was also used in combination of this styles... */

body {
  background-color: lightslategrey;
}

.wall {
  height: 600px;
  display: flex;
  align-items: center;
}

.wall h1,
.wall h2 {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.wall h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.125;
}

.wall h2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0.5rem;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  background: transparent;
  z-index: 2;
}

a.logo {
  color: #fff;
  font-weight: 600;
}

a.logo:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-burger span {
  color: #fff;
  height: 2px;
  width: 18px;
}

.nav-toggle:hover {
  background: transparent;
}

.screenshot img {
  max-width: 100%;
}

.centered {
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1023px) {
  .wall {
    height: 300px;
    padding: 0 1.5rem;
  }

  .wall h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1600px) {
}
